blis==0.7.4
catalogue==2.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cmake==3.18.4.post1
cymem==2.0.5
dlib==19.22.0
idna==2.10
Jinja2==2.11.3
MarkupSafe==1.1.1
murmurhash==1.0.5
numpy==1.20.2
opencv-python==4.5.1.48
packaging==20.9
pathy==0.4.0
preshed==3.0.5
pydantic==1.7.3
pyparsing==2.4.7
requests==2.25.1
scipy==1.6.2
smart-open==3.0.0
spacy-legacy==3.0.2
srsly==2.4.0
thinc==8.0.2
tqdm==4.60.0
typer==0.3.2
urllib3==1.26.4
wasabi==0.8.2
wincertstore==0.2
